<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="jmsConnectionFactory" class="com.rabbitmq.jms.admin.RMQConnectionFactory">
		<property name="username" value="admin" />
		<property name="password" value="password" />
		<property name="virtualHost" value="/" />
		<property name="host" value="192.168.112.199" />
		<property name="port" value="5672" />
	</bean>


	<bean id="jmsDestination" class="com.rabbitmq.jms.admin.RMQDestination">
		<property name="destinationName" value="Kevin" />
		<property name="amqp" value="true" />
		<property name="amqpQueueName" value="Kevin" />
		<property name="amqpExchangeName" value="jms.durable.queues" />
		<property name="amqpRoutingKey" value="Kevin" />
	</bean>
	

</beans>